body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.blog-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.blog-header {
  position: relative;
  text-align: center;
}

.header-background {
  width: 100%;
  height: 450px;
  object-fit: cover;
  filter: brightness(90%);
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}

.learn-more {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #ffffff; 
  font-weight: bold;
  text-decoration: none; 
  border: 2px solid #cccccc; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease; 
}

.learn-more:hover {
  background-color: #f8f8f8; 
  border-color: #bbbbbb; 
}

.header-content h1 {
  font-size: 3rem;
  margin: 0;
}

.learn-more {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}


.categories-strip {
  position: relative; 
  background-color: #f8dfe2; 
  padding: 20px 0; 
  width: 100%;
  max-width: 1300px; 
  margin-bottom: 0; 
}


.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0; 
  z-index: 2; 
}

/* Blog Content Section */
.content {
  display: flex;
  gap: 20px;
  padding: 20px;
  margin-top: 20px; 
}

/* Individual Post */
.post {
  display: flex;
  gap: 20px;
  margin-bottom: 20px; 
}


.category {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 2; 
  position: relative; 
}

.category img {
  width: 220px;
  height: 140px;
  object-fit: cover;
  border-radius: 5px;
}

.category p {
  margin: 10px 0 0;
  font-weight: bold;
  z-index: 3; 
  
}


.category:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.posts {
  flex: 3;
}

.post img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  padding-bottom: 50px;
}

.post-content h2 {
  margin: 0;
}

.sidebar {
  flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}

.about-image {
  width: 100%;
  border-radius: 5px;
}

.sidebar h3 {
  margin-top: 20px;
  color: #9f1d14;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}
